.blockDataContainer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 80%;
  /* height: 100vh; */
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #08082d;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blockDataTitle {
  margin: 10px 0px 30px 50px;
  display: flex;
  align-items: center;
  min-width: 300px;
  align-items: baseline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 8px;
}

.blockDataTitle h1 {
  font-size: 18px;
}

.blockDataTitle h2 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blockDataTitle .btnBox {
  display: flex;
  flex-direction: row;
}

.blockDataInfo {
  margin: 0px 30px 0px 30px;
  border-radius: 15px;
  background-color: #1a1347;
  padding: 10px 20px 10px 20px;
}

.blockData-row {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: #212121 solid 1px;
}

.blockData-row-input {
  display: flex;
  align-items: center;
  height: 200px;
  border-bottom: #212121 solid 1px;
}

.blockData-row-last {
  display: flex;
  align-items: center;
  height: 50px;
}

.blockData-col1 {
  margin-right: 10%;
}

.blockData-col1-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background-color: #1e1070;
  border-radius: 5px;
}

.blockData-col2 {
  display: flex;
  align-items: center;
}

.blockData-col2 span {
  color: #5954fa;
  cursor: pointer;
}

.blockData-col2 span:hover {
  color: #7570fa;
}

.confirm {
  display: flex;
  align-items: center;
}

.blockData-col2-confirmation {
  width: auto;
  padding-right: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: #1e1070;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blockData-col2-confirmation p {
  font-size: 11px;
  padding: 5px 0px 5px 7px;
  font-weight: lighter;
}

.triangle {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 15px solid #1a1347;
  border-bottom: 10px solid transparent;
  border-right: 10px solid none;
}

.blockData-col2 button {
  padding: 5px;
  border-radius: 5px;
  background-color: #5954fa;
  cursor: pointer;
  border: none;
  outline: none;
}

.blockData-col2 button:hover {
  color: black;
  background-color: #7570fa;
}

.blockData-col2-inputData {
  display: block;
  width: 100%;
  height: auto;
}

.inputData {
  display: block;
  width: 90%;
  /* height:auto; */
  background-color: #08082d;
  color: white;
  padding: 10px;
  line-height: 20px;
  /* border: none; */
  border-radius: 5px;
  overflow: visible;
  margin-right: 50px;
  resize: none;
  outline-width: 0px;
  height: 110px;
}

.inputData-button {
  margin-top: 10px;
  margin-left: 5px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: #5954fa;
  cursor: pointer;
  border: none;
  outline: none;
}

.inputData-button:hover {
  color: black;
  background-color: #7570fa;
}

.inputData-table {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  max-width: 900px;
  background-color: #08082d;
  height: auto;
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}

.airdrop {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blockData-col2-inputData table {
  white-space: nowrap;
  border-collapse: collapse;
  font: monospace;
  width: 100%;
}

.blockData-col2-inputData table th {
  padding: 5px;
  font-weight: bold;
}

.blockData-col2-inputData table td {
  border-top: 1px solid grey;
  padding: 5px;
}

.flexbox {
  display: flex;
  align-items: center;
}
.flexbox p {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap;  */
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.flexbox span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap;  */
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.flexbox-flex {
  display: flex;
  height: auto;
}

.boldText {
  font-weight: 900;
}

.transfer-data {
  display: flex;
  /* flex-direction: column; */
}

.transfer-data-address {
  display: flex;
}

.copyButton {
  margin-left: 10px;
  display: flex;
}

.copyButton:hover {
  cursor: pointer;
}

/* 인풋데이터 테이블 하드코딩 */
@media (max-width: 1600px) {
  .inputData-table {
    max-width: 600px;
  }
}
@media (max-width: 1400px) {
  .inputData-table {
    max-width: 550px;
  }
}

@media (max-width: 1200px) {
  .inputData-table {
    max-width: 500px;
  }
}

@media (max-width: 1480px) {
  .blockDataContainer {
    width: 95%;
  }
}

@media (max-width: 1080px) {
  .blockDataTitle {
    display: block;
  }

  .blockDataTitle h2 {
    padding-top: 10px;
    padding-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blockDataTitle .btnBox {
    margin-top: 8px;
  }

  .blockData-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 65px;
  }

  .blockData-row-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 210px;
  }

  .blockData-row-last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
  }

  .blockData-col1-title {
    margin-bottom: 15px;
  }

  .blockData-col2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .inputData-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .blockDataContainer {
    width: 95%;
  }

  .blockDataTitle {
    display: block;
  }

  .blockDataTitle h2 {
    padding-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blockData-row {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;

    /* display: -webkit-box; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: auto;
  }

  .blockData-col2 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;

    /* display: -webkit-box; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .flexbox-flex {
    display: flex;
    flex-direction: column;
    height: 65px;
  }
}
